/* GENERALES*/
.descripcion{
    float: left;
    width: 60%;
    margin: 20px;
    padding: 20px;
    h1{
        font-size: 30px;
        margin-bottom: 15px;
        color: $secondary-color
    }
    .descripcion-seccion{
        font-size: 16px;
        line-height: 26px;    
    }
}

.formulario{
    display: inline-block;
    width: 30%;
    margin: 20px; 
    padding-top: 22px;
    h2{
        margin-bottom: 20px;  
        color: $secondary-color;
    }
    .casillas{
        width: 238px;
        height: 30px;
        border: 1px solid $secondary-color;
    }
}

@mixin margenes ($m, $w, $p) {
    margin: $m;
    width: $w;
    padding: $p;
}
@mixin box( $b, $s, $c) {
    border: $b $s $c ;
}

.boton{
    @include margenes(10px auto, 200px, 10px );
    color: $secondary-color;
    background: $secondary-gradient;
	border-radius: 5px;
	@include box( 2px, solid, $secondary-color);
}

.boton:hover{
    @include box(2px, solid , $primary-gradient);
    color: $bg;
    background: linear-gradient( 109.6deg,  $primary-gradient 11.2%, $third-gradient 91.1% );
    font-weight: bold;  
}

footer{
    background-color: $secondary-color;
    height: 40px;
    text-align: center;
    font-size: 12px;
    color: $bg;
    padding-top: 10px;
    padding-bottom: 10px;  
    }

